body{
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border: 15px solid #0D0D0D;
    font-family: 'Bangers', cursive;
}

.container{
    background-color: #0D0D0D;
    width: 60%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: white;
}

.container h1{
    font-size: 60px;
    letter-spacing: 0.1rem;
    font-family: 'Special Elite', cursive;
}

input{
    width: 70%;
    height: 50px;
    font-size: 25px;
    border: none;
    outline: none;
    padding: 10px;
    margin: 15px;
}

.output{
    width: 70%;
}

.output h3{
    letter-spacing: 0.1rem;
}

.box{
    background-color: white;
    margin: 10px 0px;
    padding: 10px 10px;
    border-radius: 5px;
    color: black;
    border: 3px solid darkorchid;
}

.box p{
    font-size: 25px;
}